@import '~antd/dist/antd.css';
/* .fieldset{
  background-color: bisque;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.input{
  display: flex;
  justify-content: space-between;
  align-items:flex-start ;
  gap: 50px;
  padding:20px 40px;

} */
